<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "sans-serif";
       background-color: "lightblue"
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: green;
        font-size: 60pt;
    }

    p {
        font-size: 34pt;
    }
</style>

<div>
    <h1>Good Morning :)</h1><br>
    <p>You are beautiful, your mom loves you {{ count }} times.</p>
</div>
